/* M A I N . C S S file */

html, body{ height:100%; margin:0; font-family: 'Montserrat', sans-serif; }


.jumbotron-odi-hero {
	padding: 0rem 0rem;
	position: relative;
	max-width: 100%;
}

.jumbotron-odi-dark {
	max-width: 100%;
	padding: 0px;
}

.jumbotron-overlay {
	height:100%;
	padding: 100px 0;
	color:#fff;
}

.jumbotron-padding{
	padding-top: 6rem;
}

.btn-circle {
	border-radius: 30px;
}

.latest-news {
	border-bottom: .25rem solid transparent;
	border-bottom-color: #007bff;
}

.logo {
	height: 30px;
}

.bg-custom {
	background-color: #2F3849;
}

.jumbotron-custom {
	border-radius: 0px !important;
}

.mt-6 {
	margin-top: 4rem !important;
}

.mt-7 {
	margin-top: 5rem !important;	
}

.file-upload input[type='file'] {
  	display: none;
}

.block-uploader {
    border: 1px dashed #b5b5b5;
    border-radius: 0.5em;
}

.blockChartRequestMinute {
	display: none;
}
.blockChartHttpMethods {
	display: none;
}
.blockChartHttpAnswerMethods {
	display: none;
}
.blockChartSizeAnswer {
	display: none;
}

.fs-11 {
	font-size: 11px;
}

.fw-600 {
	font-weight: 600;
}

.folder-grid {
  display: inline-block;
  color: #424242;
  margin: 5px;
  width: 185px;
  padding: 13px;
  background: #fff;
  cursor: pointer;
  transition-duration: 0.20s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.folder-grid:hover {
  background: #dbdbdb;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.file-grid {
  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  color: #424242;
  margin: 5px;
  transition-duration: 0.20s;
  background: #fff;
  cursor: pointer;
}

.file-thumnail {
  text-align: center;
  padding: 40px;
  font-size: -webkit-xxx-large;
  background-color: white;
}

.file-title {
  width: 100%;
  padding: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-grid:hover {
  background: #dbdbdb;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.w-img-json {
	width: 48px;
}